.custom-link {
    font-weight: bold;
}

.header {
    font-weight: bold;
}

img[alt^="typeahead"] {
    width: 45%;
    border: 1px solid;
}

.wrapper-center {
    text-align: center;
}
.wrapper-center p {
    font-size: 12px;
    color: grey;
}

#alert-2, #alert-1 {
    height: 62px;
}

h5 {
    font-size: 15px !important;
    color: black !important;
}

h6 {
    font-size: 15px !important;
    color: black !important;
}

.todo p {
    font-size: 40px;
}

pre .nx {
    color: #37474f !important;
}

td {
  vertical-align: middle !important;
}
