{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block id %}about{% endblock %}

{% block main %}
<img class="image" src="../static/images/assorted_food.jpg" alt="Assorted Food">
<!-- Image by Pixabay via https://www.pexels.com/photo/basil-delicious-food-ingredients-459469/ -->

<div class="content">

  <div class="developers">
    <h2>Meet the Developers</h2>
    <figure class="kevin">
      <img src="../static/images/kevin.jpg" alt="Kevin" class="developer-image">
      <figcaption>
        Kevin Lim<br>
        Full-Time Glutton<br>
        <a href="mailto:lyskevin@u.nus.edu" target="_top">lyskevin@u.nus.edu</a><br>
      </figcaption>
    </figure>
    <figure class="ryan">
      <img src="../static/images/ryan.jpg" alt="Ryan" class="developer-image">
      <figcaption>
        Ryan Tan<br>
        BMT Sergeant<br>
        <a href="mailto:tanyuryan@u.nus.edu" target="_top">tanyuryan@u.nus.edu</a><br>
      </figcaption>
    </figure>
  </div>

  <h2>Background</h2>
  <p>
    We are a pair of Computer Science students from the National University of Singapore (NUS)
    who decided to partake in Orbital, which is NUS’ annual summer software development module
    for freshmen. After countless discussions, we chose to work on the Slim Jeans Recipe Calorie
    Counter due to the wide range of possibilities it presented to us. It allowed us to work on
    something useful while also being versatile enough to expand upon if we had the time to do so.
    At its core, the website targets those who would like to track their caloric intake based on
    recipes that they are interested in preparing. We hope that you enjoy using the website as
    much as we enjoyed developing it!
  </p>
  <div>Icons made by 
    <a
      href="https://www.flaticon.com/authors/freepik"
      title="Freepik">Freepik
    </a> from 
    <a
      href="https://www.flaticon.com/"
      title="Flaticon">www.flaticon.com
    </a> are licensed by
    <a
      href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0"
      target="_blank">
      CC 3.0 BY
    </a>
  </div>
  
  
</div>
{% endblock %}
