{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block id %}about{% endblock %}

{% block main %}
  <h2 class="about-header">Meet the Developers</h2>
  <div class="content">
    <figure>
      <img src="../static/images/kevin.jpg" alt="Kevin" class="developer-image">
      <figcaption>
        Kevin Lim<br>
        Full-Time Glutton<br>
        <a href="mailto:lyskevin@u.nus.edu" target="_top">lyskevin@u.nus.edu</a><br>
      </figcaption>
    </figure>
    <figure>
      <img src="../static/images/ryan.jpg" alt="Ryan" class="developer-image">
      <figcaption>
        Ryan Tan<br>
        BMT Sergeant<br>
        <a href="mailto:tanyuryan@u.nus.edu" target="_top">tanyuryan@u.nus.edu</a><br>
      </figcaption>
    </figure>
  </div>
{% endblock %}
