{% extends "layout.html" %}

{% block title %}
  Recipe Calorie Counter
{% endblock %}

{% block main %}
<div class="header">
  <div class="header-text">
    <h1>Slim Jeans</h1>
    <h2>Recipe Calorie Counter</h2>
    <p>
      Know what you're eating
    </p>
  </div>
  <img src="../static/images/calorie_header3.jpg"
       alt="header">
</div>

<div id="content" class="content">
  <div class="calorie-container">
    <form class="calorie-form" id="calorie-input" name="calorie-input" method="POST">
      <div class="input-container">

        <!-- Input Table for Ingredients and Amount-->
        <table class="input-table">
          <thead>
            <th>Ingredients</th>
            <th>Amount</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="input" id="ingredient">
                  <input type="text" id="ingredient-1" class="input-ingredient typeahead" placeholder="Enter Ingredient">
                </div>
              </td>
              <td>
                <div class="input">
                  <input type="number" id="amount-1" min="0" class="input-amount" placeholder="Enter Amount">
                </div>
              </td>
              <td>
                <div class="input">
                  <select type="text" id="unit-1" class="input-unit" placeholder="Choose Unit">
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Add Rows and Submit button-->
        <input type="button"
               class="btn btn-primary"
               value="Add Ingredient"
               onclick="appendRow('input-table')">

        <input type="button"
               class="btn btn-primary"
               value="Delete Ingredient"
               onclick="deleteLastRow('input-table')">

        <input type="reset"
               class="btn btn-primary"
               value="Reset All">
        <br><br>
        <button type="submit"
                class="btn btn-primary"
                onclick="getInput()">
                Analyze Calories
        </button>
      </div>
    </form>
  </div>

  <h2>How to use it?</h2>
  <p>
    It's simple - take any recipe off the internet, and list its ingredients
    in the form above. The form will spit out the number of calories contained
    within the recipe.
  </p>

  <h2>Where do we get our information from?</h2>
  <p>
    Our information is obtained directly from the
    <a href="https://ndb.nal.usda.gov/ndb/">USDA</a>.
    We have organised the information into our database to give an estimate
    on the calorie count of any particular recipe.
  </p>
</div>
{% endblock %}
