{% extends "layout.html" %}

{% block title %}Recipe Calorie Counter{% endblock %}

{% block id %}calorie-counter{% endblock %}

{% block main %}
<div class="header">
  <img class="image" src="../static/images/tomato.jpg" alt="Tomatoes">
  <!-- Image by monicore via https://www.pexels.com/photo/photography-of-tomatoes-near-basil-leaves-1391487/ -->
  <div class="text">
    <h1>Slim Jeans</h1>
    <h2>Recipe Calorie Counter</h2>
    <h3>Know what you're eating</h3>
  </div>
</div>

<div id="content" class="content">
  <div class="text">
    <h2>How to use it?</h2>
    <p>
      It's simple - take any recipe off the internet, and list its ingredients
      in the calculator above. Click on "Analyze Calories" and the calculator
      will give you the number of calories contained within the recipe, along
      with a chart showing which ingredient contributes the most to the total
      caloric intake.
    </p>
    <p>
      You can then further edit the recipe to see how the calories change with
      the ingredients, including possible healthier alternatives.
    </p>
  </div>

  <div class="calorie-wrapper">

    <form id='calorie-form'>
      <h4>Note</h4>
      <ul>
        <li>All types of pasta fall under "Pasta" in our database</li>
        <li>Salt falls under "Salt, table"</li>
        <li>Using exact weight of ingredients is always more accurate!</li>
      </ul>

      <table id='input-table'
             class='table table-bordered'>
        <thead>
          <tr>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Unit</th>
            <th></th>
          </tr>
        </thead>
      </table>

      <!-- Add Rows and Submit button-->
      <input
        type="button"
        class="btn btn-light"
        value="Add Ingredient"
        id="add-ingred"
      >

      <input
        type="reset"
        class="btn btn-light"
        value="Reset All"
      >

      <input
        type="button"
        id="analyze-ingred"
        class="btn btn-light"
        value="Analyze Calories"
      >

      {% if session.user_id %}
      <br><br>
      <input
        type="text"
        placeholder="Recipe Name"
        pattern="[a-zA-Z0-9!@#$%^*_|]">
      <input
        type="button"
        class="btn btn-light"
        value="Save Recipe"
        onclick="saveRecipe()">
      {% endif %}

    </form>

  </div>

  <div class="text text-bottom">
    <h2>Where do we get our nutritional information from?</h2>
    <p>
      Our information is sourced directly from the
      <a href="https://ndb.nal.usda.gov/ndb/">USDA</a>.
      We have organised the information from the source, into our database to
      give an estimate on the calorie count of any particular recipe. We are then
      able to give reliable information on what exactly you're eating in your
      food.
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  createInputTable();
</script>
{% endblock %}
