{% extends "layout.html" %}

{% block title %}
  Contact
{% endblock %}

{% block main %}
<div id="content" class="content">
  Meet the developers:
  <br>
  <figure>
    <img src="../static/images/kevin.jpeg" alt="Kevin" class="developer-image">
    <figcaption>
      Kevin Lim<br>
      Full-Time Glutton<br>
      lyskevin@u.nus.edu<br>
    </figcaption>
  </figure>
  <figure>
    <img src="../static/images/ryan.jpeg" alt="Ryan" class="developer-image">
    <figcaption>
      Ryan Tan<br>
      BMT Sergeant<br>
      tanyuryan@u.nus.edu<br>
    </figcaption>
  </figure>
</div>
{% endblock %}
