{% extends "layout.html" %}

{% block title %}
  Contact
{% endblock %}

{% block main %}
<div class="contact">
  <h2>Meet the Developers</h2>
  <div class="contact-elements">
    <br>
    <figure>
      <img src="../static/images/kevin.jpg" alt="Kevin" class="developer-image">
      <figcaption>
        Kevin Lim<br>
        Full-Time Glutton<br>
        lyskevin@u.nus.edu<br>
      </figcaption>
    </figure>
    <figure>
      <img src="../static/images/ryan.jpg" alt="Ryan" class="developer-image">
      <figcaption>
        Ryan Tan<br>
        BMT Sergeant<br>
        tanyuryan@u.nus.edu<br>
      </figcaption>
    </figure>
</div>
{% endblock %}
