{% extends "layout.html" %}

{% block title %}Graph Generator{% endblock %}

{% block id %}graph-generator{% endblock %}

{% block main %}
<div class="header">
  <img class="image" src="../static/images/vegetables.jpg" alt="Vegetables">
  <!-- Image by Ella Olsson via https://www.pexels.com/photo/flat-lay-photography-of-vegetable-salad-on-plate-1640777/ -->
  <div class="text">
    <h1>Graph Generator</h1>
    <h2>Plan your meals</h2>
  </div>
</div>

<div class="content">
<ul class="notes">
    <li>
      Hover the mouse over each bar to see more detailed information
    </li>
    <li>
      The area covered by the graph cannot be right-clicked
    </li>
  </ul>
  <div class="graph-generator-input">
    <span>
      Select number of recipes to display:
    </span>
    <select id="recipe-count">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="All">All</option>
    </select>
    <input
      type="button"
      class="btn btn-light"
      value="Generate Graph"
      onclick="generateGraph()">
  </div>
  <!--Hover over to see date, cannot right click graph-->
</div>
{% endblock %}