{% extends "layout.html" %}

{% block title %}Graph Generator{% endblock %}

{% block id %}graph-generator{% endblock %}

{% block main %}
<div class="header">
  <img class="image" src="../static/images/vegetables.jpg" alt="Vegetables">
  <!-- Image by Ella Olsson via https://www.pexels.com/photo/flat-lay-photography-of-vegetable-salad-on-plate-1640777/ -->
  <div class="text">
    <h1>Graph Generator</h1>
    <h2>Plan your meals</h2>
  </div>
</div>

<div class="content">
  <div id="column_chart" style="width: 900px; height: 500px"></div>
  <script>generateGraph()</script>
</div>
{% endblock %}