{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block id %}index{% endblock %}

{% block main %}
<div class="tagline">
  <h2>Let us do the counting so that you can do the eating!</h2>
</div>
{% if get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show text-center message-flash" role="alert">
  {{ get_flashed_messages() | join(" ") }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endblock %}