{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block id %}register{% endblock %}

{% block main %}
<form action="/register" method="post" class="form" name="registration-form">
  <div class="form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="username"
      placeholder="Username"
      type="text"
      pattern="[a-zA-Z0-9!@#$%^*_|]{6,25}">
  </div>
  <div class="form-group">
    <input
      class="form-control"
      name="password"
      placeholder="Password"
      type="password"
      pattern="[a-zA-Z0-9!@#$%^*_|]{6,25}">
  </div>
  <div class="form-group">
      <input
        class="form-control"
        name="confirmation"
        placeholder="Confirm Password"
        type="password"
        pattern="[a-zA-Z0-9!@#$%^*_|]{6,25}">
    </div>
  <button type="button" class="btn btn-light" onclick="registrationFormSubmission()">Register</button>
</form>
{% if get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show text-center message-flash" role="alert">
  {{ get_flashed_messages() | join(" ") }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endblock %}
