{% extends "layout.html" %}

{% block title %}Saved Recipes{% endblock %}

{% block id %}saved-recipes{% endblock %}

{% block main %}
<div class="header">
  <img class="image" src="../static/images/scale.jpg" alt="header image scale">
  <div class="text">
    <h1>Saved Recipes</h1>
    <h2>See what you've eaten</h2>
  </div>
</div>

<div id="content" class="content">
  <div class="text">
    <h1>View your Saved Recipes</h1>
    <p>
      The table below displays your saved recipes, click on any row to display
      information about that recipe.
    </p>
    <p>
      Use this page to track what you're eating. You are able to delete any recipe
      that you do not wish to use anymore.
    </p>
  </div>

  <div class="row">
    <div class="sr-wrapper table-responsive">
      <h4>Saved Recipes</h4>
      <table
        id="sr-recipe-table"
        class="table table-bordered table-hover">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Recipe Name</th>
            <th>Calories</th>
            <th>Date Added [YYYY/MM/DD]</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script src="../static/savedrecipes.js"></script>
<script>
$(document).ready(function () {
  createRecipeTableForUser("{{ session.username }}");
});
</script>
{% endblock %}
