{% extends "layout.html" %}

{% block title %}
  Saved Recipes
{% endblock %}

{% block main %}
<div class="header">
  <img class="image" src="../static/images/scale.jpg" alt="header image scale">
  <div class="text">
    <h1>Saved Recipes</h1>
    <p>See what you've eaten</p>
  </div>
</div>

<div id="content" class="content">
  <div class="text">
    <h1>View your Saved Recipes</h1>
  </div>

  <div class="savedrecipes-container">
    <table class="table table-striped table-hover table-sm" id="table-saved-recipes">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Calories</th>
        </tr>
      </thead>
      <tbody style="cursor:pointer">
        <!-- Added in by Javascript -->
      </tbody>
    </table>
  </div>
</div>

<script>
  createRecipeTableForUser("{{ session.username }}");
</script>
{% endblock %}

