{% extends "layout.html" %}

{% block title %}Saved Recipes{% endblock %}

{% block id %}saved-recipes{% endblock %}

{% block main %}
<div class="header">
  <img class="image" src="../static/images/scale.jpg" alt="header image scale">
  <div class="text">
    <h1>Saved Recipes</h1>
    <p>See what you've eaten</p>
  </div>
</div>

<div id="content" class="content">
  <div class="text">
    <h1>View your Saved Recipes</h1>
    <p>
      The table below displays your saved recipes, click on any row to display
      information about that recipe.
    </p>
    <p>
      Use this page to track what you're eating. You are able to delete any recipe
      that you do not wish to use anymore.
    </p>
  </div>

  <div class="savedrecipes-container">

    <div class="savedrecipes-list">
      <h4>Saved Recipes</h4>
      <table class="table-sm table table-striped table-hover table-bordered"
             id="table-savedrecipes">
        <thead>
          <tr>
            <th scope="col">S/N</th>
            <th scope="col">Name</th>
            <th scope="col">Calories</th>
          </tr>
        </thead>
        <tbody style="cursor:pointer">
        </tbody>
      </table>
    </div>

  </div>
</div>

<script>
  createRecipeTableForUser("{{ session.username }}");
</script>
{% endblock %}
