/* Style body */
body {
  font-family: 'Lato', sans-serif;
}

/* Style page content */
main {
  z-index: 1;
}

/* Style home page's logged in background */
#index .background-logged-in {
  
  background: url('images/bbq.jpg') no-repeat center center fixed;
  
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Display & Box Model */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  /* Others */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style home page's logged in background */
#index .background-logged-out {
  
  background: url('images/berries.jpg') no-repeat center center fixed;
  
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Display & Box Model */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  /* Others */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style home page's tagline */
#index {
  text-align: center;
}

#index .tagline {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin-top: 3%;
  padding: 0.5%;
}

/* Set calorie counter's header position */
#calorie-counter .header {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  position: relative;
}

/* Style calorie counter's header image */
#calorie-counter .header .image {
  max-width: 100%;
  height: auto;
}

/* Style calorie counter's header text */
#calorie-counter .header .text {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 25%;
  height: 48%;
  top: 25%;
  left: 5%;
  text-align: center;
  padding: 1%;
  z-index: 1;
}

#calorie-counter .header h1 {
  font-size: 3vw;
}

#calorie-counter .header h2 {
  font-size: 2vw;
}

#calorie-counter .header h3 {
  font-size: 1.5vw;
}

/* Black background for navbar */
.bg-black {
  background-color: black;
}

/* Style developer figures */
figure {
  display: inline-block;
}

/* Style developer captions */
figcaption {
  text-align: center;
}

/* Style developer images */
.developer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 3vh;
}

.calorie-container, .result-container {
  display: flex;
  border-style: solid;
  border-width: .1rem;
  border-color: lightgrey;
  margin: 2.5%;
  padding: 1%;
}

.calorie-result {
  font-weight: bold;
  font-size: 50px;
}

.input-table {
  margin-bottom: 1.5em;
}

th, tr {
  font-family: 'Roboto', sans-serif;
  padding-right: 200px;
}

th {
  font-size: 30px;
}

.input-container {
  display: inline-block;
}

.input {
  vertical-align: top;
}

/* Stylize dropdown text box */
#ingredient .typeahead {
  background-color: #ffffff !important;
  width: 300px;
}

/* Stylize typeahead.js. Source: http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1px;
  max-height: 150px;
  overflow-y: auto;
  width: 300px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  background-color: #0097cf;
  color: #fff;
  cursor: pointer;
}

.tt-suggestion {
  margin: 0;
  padding: 6px 12px;
}

/* Style Links */
p a {
  color: #4a90ff;
}

.content .text {
  margin: 2.5%;
}

/* Style login and register page */
#login, #register {
  width: 100%;
  text-align: center;
}

/* Style login and register forms */
#login .form, #register .form {
  margin-top: 5%;
}

/* Style login and register form fields */
#login .form-control, #register .form-control {
  display: inline-block;
  width: auto;
}

/* Set calorie counter's header position */
.header {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  position: relative;
}

/* Style calorie counter's header image */
.header .image {
  max-width: 100%;
  height: auto;
}

/* Style calorie counter's header text */
.header .text {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: center;
  padding: 1%;
  z-index: 1;
}

.header h1 {
  font-size: 2vw;
}

.header p {
  font-size: 1vw;
}

/* Style registration page's message flash */
#register .message-flash, #login .message-flash {
  margin: 0 auto;
  margin-top: 10vh;
  width: 30%;
}

/** This section styles dailygoals webpage */
.dailygoals-container {
  width: 100%;
  text-align: center;
}
.dailygoals-form input {
  width: 10%;
  margin: 0 auto;
}
.dailygoals-form button {
  margin-top: 10px;
}

/* Style navbar username */
#navbar .username {
  color: white;
}

/* Style Saved Recipes page */
.savedrecipes-container {
  margin: 0 auto;
  width: 75%;
}

/* Style about page */
#about .image {
  max-width: 100%;
  height: auto;
}

#about .content {
  margin: 2.5%;
}

#about .developers {
  text-align: center;
}

#about .kevin {
  margin-right: 2.5%;
}

#about .ryan {
  margin-left: 2.5%;
}
