/* Style about page */

#about .image {
  max-width: 100%;
  height: auto;
}

#about .content {
  margin: 2.5%;
}

#about .developers {
  text-align: center;
}

#about .kevin {
  margin-right: 2.5%;
}

#about .ryan {
  margin-left: 2.5%;
}

#about figure {
  display: inline-block;
}

#about figcaption {
  text-align: center;
}

#about .developer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 3vh;
}

/* Style calorie counter page */

#calorie-counter .calorie-container, #calorie-counter .result-container {
  display: flex;
  border-style: solid;
  border-width: .1rem;
  border-color: lightgrey;
  margin: 2.5%;
  padding: 1%;
}

#calorie-counter .input-table {
  margin-bottom: 1.5em;
}

#calorie-counter .input-table th, #calorie-counter .input-table tr {
  font-family: 'Roboto', sans-serif;
  padding-right: 200px;
}

#calorie-counter .input-table th {
  font-size: 30px;
}

#calorie-counter .input-container {
  display: inline-block;
}

#calorie-counter .input {
  vertical-align: top;
}

#calorie-counter #ingredient .typeahead {
  background-color: #ffffff !important;
  width: 300px;
}

#calorie-counter .tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1px;
  max-height: 150px;
  overflow-y: auto;
  width: 300px;
  color: black !important;
}

#calorie-counter .tt-suggestion.tt-cursor, .tt-suggestion:hover {
  background-color: #0097cf;
  color: #fff;
  cursor: pointer;
}

#calorie-counter .tt-suggestion {
  margin: 0;
  padding: 6px 12px;
}

#calorie-counter .calorie-result {
  font-weight: bold;
  font-size: 50px;
}

/* Style error page */

#error .background {

  background: url('images/five_foods.jpg') no-repeat center center fixed;

  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Display & Box Model */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  /* Others */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#error {
  text-align: center;
}

#error .text {
  background-color: white;
  display: inline-block;
  margin-top: 3%;
  padding: 0.5%;
}

body.dark #error .text {
  background-color: rgb(35, 43, 43);
} 

/* Style graph generator page */

/* Style home page */

#index .logged-in {
  background: url('images/bbq.jpg') no-repeat center center fixed;
}

#index .logged-out {
  background: url('images/berries.jpg') no-repeat center center fixed;
}

#index .background {

  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /* Display & Box Model */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  /* Others */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#index {
  text-align: center;
}

#index .tagline {
  background-color: white;
  display: inline-block;
  margin-top: 3%;
  padding: 0.5%;
}

body.dark #index .tagline {
  background-color: rgb(35, 43, 43);
}

/* Style general page layout */

.header {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.header .image {
  max-width: 100%;
  height: auto;
}

.header .text {
  background-color: white;
  position: absolute;
  top: 25%;
  left: 5%;
  text-align: center;
  padding: 1%;
  z-index: 1;
}

body.dark .header .text {
  background-color: rgb(35, 43, 43);
}

.header h1 {
  font-size: 3vw;
}

.header h2 {
  font-size: 2vw;
}

.header h3 {
  font-size: 1.5vw;
}

.header p {
  font-size: 1vw;
}

.bg-black {
  background-color: black;
}

#navbar .username {
  color: white;
}

body {
  font-family: 'Lato', sans-serif;
}

body.dark {
  background-color: rgb(35, 43, 43);
  color: white;
}

main {
  z-index: 1;
}

.content .text {
  margin: 2.5%;
}

p a {
  color: #4a90ff;
}

/* Style login and register pages */
#login, #register {
  width: 100%;
  text-align: center;
}

#login .form, #register .form {
  margin-top: 5%;
}

#login .form-control, #register .form-control {
  display: inline-block;
  width: auto;
}

#login .message-flash, #register .message-flash {
  margin: 0 auto;
  margin-top: 10vh;
  width: 30%;
}

/* Style saved recipes page */

#saved-recipes .sr-wrapper {
  margin: 0 auto;
  margin-bottom: 10%;
  width: 90%;
  padding: 1% 1% 1% 1%;
  border: 1px lightgrey solid;
  border-radius: 5px;
}

#saved-recipes .sr-inner-table th {
  font-size: 18px;
}

#saved-recipes th.details-control, th.details-delete {
  width: 20px;
}

#saved-recipes td.details-control {
    background: url('../static/images/details_open.png') no-repeat center center;
    background-size: 40%;
    cursor: pointer;
}

#saved-recipes tr.shown td.details-control {
    background: url('../static/images/details_close.png') no-repeat center center;
    background-size: 40%;
}

#saved-recipes td.details-delete {
    background: url('../static/images/details_delete.png') no-repeat center center;
    background-size: 40%;
    cursor: pointer;
}
